.News {
    background-repeat: no-repeat;
    background-size: auto 100%;
    background-position: center;
    height: calc(100% - 66px);
    background-color: #F6F6F6;
}

.News .list-group {
    width: 75%;
    margin: 0 auto;
}

.News h2 {
    position: relative;
}

.News h2 button {
    position: absolute;
    right: 30px;
}

.News .news:hover {
    background-color: lightblue;
    cursor: pointer;
}

.News .list-group-item {
    background-color: rgba(255, 255, 255, 0.85);
}